div.container > div.shop-detail {
  width: 100%;
  margin: 0 auto;
}
div.container > div.shop-detail::after {
  content: "";
  display: block;
  clear: both;
}
div.container > div.shop-detail > div.lf {
  margin-left: 20px;
  float: left;
}
div.container > div.shop-detail > div.lf div.lg-png > img {
  display: inline-block;
  transition: all 0.5s linear;
}
div.container > div.shop-detail > div.lf div.lg-png > img:hover {
  transform: scale(1.05);
}
div.container > div.shop-detail > div.lf div.sm-png {
  width: 460px;
  padding: 0;
  height: 84px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-left: 0px;
}
div.container > div.shop-detail > div.lf div.sm-png ul {
  list-style: none;
  width: 530px;
  padding: 0;
  position: absolute;
  left: 0px;
}
div.container > div.shop-detail > div.lf div.sm-png ul::after {
  content: "";
  display: block;
  clear: both;
}
div.container > div.shop-detail > div.lf div.sm-png ul li {
  float: left;
  margin-left: 0;
}
div.container > div.shop-detail > div.lf div.sm-png ul li > img {
  display: inline-block;
  transition: all 0.5s linear;
}
div.container > div.shop-detail > div.lf div.sm-png ul li > img:hover {
  transform: scale(1.1);
}
div.container > div.shop-detail > div.lf div.sm-png ul li:not(:first-child) {
  margin-left: 8px;
}
div.container > div.shop-detail div.rg {
  width: 540px;
  height: 444px;
  box-sizing: border-box;
  padding: 0;
  margin-left: 100px;
  float: left;
}
div.container > div.shop-detail div.rg > h3 {
  font-size: 14px;
}
div.container > div.shop-detail div.rg > div.price {
  width: 460px;
  height: 105px;
  background-color: #f5f5f0;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 5px;
}
div.container > div.shop-detail div.rg > div.price > div.pro_price > b {
  color: #666;
}
div.container > div.shop-detail div.rg > div.price > div.pro_price > span {
  font-size: 34px;
  color: #0aa1ed;
}
div.container > div.shop-detail div.rg > div.price > div.promise {
  color: #666;
}
div.container > div.shop-detail div.rg > p.parameter {
  margin-top: 20px;
}
div.container > div.shop-detail div.rg > p.parameter > b,
div.container > div.shop-detail div.rg > p.parameter span {
  color: #666;
}
div.container > div.shop-detail div.rg > p.parameter > img {
  vertical-align: top;
}
div.container > div.shop-detail div.rg > p.choose_color {
  margin-top: 20px;
}
div.container > div.shop-detail div.rg > p.choose_color s {
  text-decoration: none;
}
div.container > div.shop-detail div.rg > p.choose_color input {
  background-color: #f2e9df;
  margin-left: 10px;
  box-shadow: none;
}
div.container > div.shop-detail div.rg > p.size {
  margin-top: 20px;
}
div.container > div.shop-detail div.rg > p.size > s {
  text-decoration: none;
}
div.container > div.shop-detail div.rg > p.size span {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  margin-left: 15px;
}
div.container > div.shop-detail div.rg > p.account {
  margin-top: 20px;
}
div.container > div.shop-detail div.rg > p.account s {
  text-decoration: none;
  margin-right: 20px;
}
div.container > div.shop-detail div.rg > p.account input {
  width: 40px;
  text-align: center;
}
div.container > div.shop-detail div.rg > div.shops {
  margin-top: 20px;
}
div.container > div.shop-detail div.rg > div.shops > a.buy {
  display: inline-block;
  text-decoration: none;
  width: 160px;
  height: 50px;
  background-color: rgba(5, 5, 5, 0.3);
  border: 1px solid #f5f5f5;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 3px;
}
div.container > div.shop-detail div.rg > div.shops > a.shop.lf {
  width: 160px;
  height: 50px;
  margin-left: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  background-color: #0aa1ed;
  border-radius: 3px;
  display: inline-block;
  font-size: 20px;
  color: #fff;
}
div.container > div.shop-detail div.rg > div.shops > a.collection {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #0aa1ed;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
  vertical-align: top;
  margin-left: 20px;
  position: relative;
}
div.container > div.shop-detail div.rg > div.shops > a.collection span {
  color: #fff;
  font-size: 18px;
}
div.container > div.shop-detail div.rg > div.shops > a.collection b {
  position: absolute;
  top: 2px;
  left: 16px;
}
div.container div.demo {
  margin-top: 20px;
}
div.container div.demo > p {
  font-size: 20px;
  margin-left: 10px;
  color: #666;
}
div.container div.demo > p > span {
  font-size: 14px;
  margin-left: 10px;
  background-color: #666;
  color: #f5f5f0;
}
div.container div.demo > div.surface {
  position: relative;
  width: 960px;
  height: 168px;
  overflow: hidden;
  margin: 0 auto;
  border-top: 1px solid #5a5757;
  border-bottom: 1px solid #5a5757;
}
div.container div.demo > div.surface > div.indemo {
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
}
div.container div.demo > div.surface > div.indemo::before {
  content: "";
  display: none;
  clear: both;
}
div.container div.demo > div.surface > div.indemo > div {
  float: left;
}
div.container div.demo > div.surface > div.indemo > div::before {
  content: "";
  display: none;
  clear: both;
}
div.container div.demo > div.surface > div.indemo > div > div {
  float: left;
  width: 240px;
}
div.container div.demo > div.surface > div.indemo > div > div > p {
  font-size: 10px;
}
div.container > div.iteminfo {
  width: 1000px;
  margin: 10px auto;
}
div.container > div.iteminfo > div:first-child {
  width: 1000px;
  height: 80px;
  box-shadow: 5px 5px 10px #666;
  background-color: #726e6e;
}
div.container > div.iteminfo > div:first-child > div.tab {
  float: left;
}
div.container > div.iteminfo > div:first-child > div.tab::before {
  content: "";
  display: table;
}
div.container > div.iteminfo > div:first-child > div.tab div.cat span a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  height: 78px;
  line-height: 78px;
  margin-left: 20px;
}
div.container > div.iteminfo > div:first-child > div.cart {
  float: right;
  margin-top: 15px;
  margin-right: 1px;
  box-shadow: 2px 2px 5px #0aa1ed;
  border-radius: 3px;
}
div.container > div.iteminfo > div:first-child > div.cart img {
  vertical-align: middle;
}
div.container > div.iteminfo > div.left {
  width: 840px;
  float: left;
  border-right: 1px solid #808080;
}
div.container > div.iteminfo > div.left > div.all {
  width: 750px;
}
div.container > div.iteminfo > div.left > div.all > div#parm p {
  color: #808080;
  font-size: 24px;
  vertical-align: baseline;
  margin-top: 50px;
}
div.container > div.iteminfo > div.left > div.all > div#parm p img {
  position: relative;
  top: 5px;
  vertical-align: baseline;
}
div.container > div.iteminfo > div.left > div.all > div#parm ul {
  list-style: none;
}
div.container > div.iteminfo > div.left > div.all > div#parm ul::after {
  content: "";
  display: block;
  clear: both;
}
div.container > div.iteminfo > div.left > div.all > div#parm ul li {
  width: 220px;
  float: left;
  height: 30px;
  line-height: 30px;
}
div.container > div.iteminfo > div.left > div.all > div#parm ul li a {
  text-decoration: none;
  color: #808080;
  font-size: 10px;
  text-align: left;
}
div.container > div.iteminfo > div.left > div.all > div.product_intro > p {
  font-size: 24px;
  color: #808080;
  margin-top: 50px;
  vertical-align: baseline;
}
div.container > div.iteminfo > div.left > div.all > div#sale_protection > p {
  font-size: 24px;
  color: #808080;
  margin-top: 50px;
  vertical-align: baseline;
}
div.container > div.iteminfo > div.left > div.all > div#packing_list > p:first-child {
  font-size: 24px;
  color: #808080;
  margin-top: 50px;
  vertical-align: baseline;
}
div.container > div.iteminfo div.right {
  width: 159px;
  float: left;
}
div.container > div.iteminfo div.right > div.aside_nav::after {
  content: "";
  display: block;
  clear: both;
}
div.container > div.iteminfo div.right > div.aside_nav p {
  width: 155px;
  height: 50px;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 5px #666;
  text-align: center;
  line-height: 50px;
  margin-top: 8px;
  margin-left: 2px;
  font-size: 16px;
  border-radius: 2px;
}
div.container > div.iteminfo div.right > div.aside_nav p a {
  text-decoration: none;
  color: #808080;
  display: inline-block;
  margin-left: 6px;
}
