.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
}
.lf {
  float: left;
}
.rg {
  float: right;
}
div.container {
  width: 1000px;
  margin: 5px auto;
}
div.container div.modal_dele_hint,
div.container div.modal_insert_hint,
div.container div.modal_dele_sele,
div.container div.modal_insert_sele {
  width: 100%;
  display: none;
}
div.container div.modal_dele_hint div.dialog,
div.container div.modal_insert_hint div.dialog,
div.container div.modal_dele_sele div.dialog,
div.container div.modal_insert_sele div.dialog {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 200px auto;
  background-color: #f5f5f5;
}
div.container div.modal_dele_hint div.dialog div:first-child,
div.container div.modal_insert_hint div.dialog div:first-child,
div.container div.modal_dele_sele div.dialog div:first-child,
div.container div.modal_insert_sele div.dialog div:first-child {
  width: 100%;
  height: 50px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 3px #666;
  padding-left: 10px;
  line-height: 50px;
}
div.container div.modal_dele_hint div.dialog div:first-child span,
div.container div.modal_insert_hint div.dialog div:first-child span,
div.container div.modal_dele_sele div.dialog div:first-child span,
div.container div.modal_insert_sele div.dialog div:first-child span {
  font-size: 18px;
}
div.container div.modal_dele_hint div.dialog div:nth-child(2),
div.container div.modal_insert_hint div.dialog div:nth-child(2),
div.container div.modal_dele_sele div.dialog div:nth-child(2),
div.container div.modal_insert_sele div.dialog div:nth-child(2) {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
div.container div.modal_dele_hint div.dialog div:last-child,
div.container div.modal_insert_hint div.dialog div:last-child,
div.container div.modal_dele_sele div.dialog div:last-child,
div.container div.modal_insert_sele div.dialog div:last-child {
  width: 200px;
  height: 70px;
  margin: 0 auto;
}
div.container div.modal_dele_hint div.dialog div:last-child span,
div.container div.modal_insert_hint div.dialog div:last-child span,
div.container div.modal_dele_sele div.dialog div:last-child span,
div.container div.modal_insert_sele div.dialog div:last-child span {
  display: inline-block;
  width: 80px;
  height: 45px;
  border-radius: 4px;
  background-color: #407beb;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 12px;
  margin-left: 15px;
}
div.container div.content {
  width: 100%;
}
div.container div.content > form > div.title {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  color: #808080;
}
div.container div.content > form > section > div.box > div.title {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: #e8e8e8;
  box-shadow: 5px 5px 5px #666;
  border: 0.5px solid #e8e8e8;
  border-radius: 4px;
}
div.container div.content > form > section > div.box > div.title div.manager {
  width: 70px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  background-color: #ffb30f;
  text-align: center;
  border-radius: 1px;
  position: absolute;
  top: 8px;
  left: 8px;
}
div.container div.content > form > section > div.box > div.title div.manager:hover {
  background-color: #eda50a;
}
div.container div.content > form > section > div.box > div.title div.check {
  position: absolute;
  top: 13px;
  left: 120px;
  width: 500px;
}
div.container div.content > form > section > div.box > div.title div.check div.all {
  font-size: 12px;
  vertical-align: middle;
  float: left;
}
div.container div.content > form > section > div.box > div.title div.check div.dele,
div.container div.content > form > section > div.box > div.title div.check div.infor {
  font-size: 12px;
  float: left;
  margin-left: 20px;
}
div.container div.content > form > section > div.box > div.title div.check div.infor_none {
  display: none;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 20px;
  float: left;
}
div.container div.content > form > section > div.box > div.title div.clear {
  float: right;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: #929292;
  border-radius: 2px;
  color: #f5f5f5;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  font-size: 12px;
}
div.container div.content > form > section > div.box > div.cont {
  position: relative;
  width: 100%;
  border: 1px solid #e8e8e8;
}
div.container div.content > form > section > div.box > div.cont::after {
  content: "";
  display: block;
  clear: both;
}
div.container div.content > form > section > div.box > div.cont > div {
  padding: 0px;
  width: 230px;
  height: 250px;
  border: 1px solid #18ccec;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #fff;
}
div.container div.content > form > section > div.box > div.cont > div div.img {
  width: 100%;
  overflow: hidden;
}
div.container div.content > form > section > div.box > div.cont > div > div.describe p {
  font-size: 12px;
  text-align: center;
}
div.container div.content > form > section > div.box > div.cont > div > div.describe span {
  font-size: 12px;
  color: #11a2f7;
}
div.container div.content > form > section > div.box > div.cont > div > div.describe span.price {
  margin-left: 10px;
}
div.container div.content > form > section > div.box > div.cont > div > div.describe span.addCart {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
div.container div.content > form > section > div.box > div.cont > div > div.describe span.succee {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
div.container div.content > form > section > div.box > div.cont > div > div.mask {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}
div.container div.content > form > section > div.box > div.cont > div > div.mask > div {
  position: absolute;
  top: 0;
  right: 0;
}
div.container div.content > form > section > div.box > div.footer {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: #e8e8e8;
  box-shadow: 5px 5px 5px #666;
  border: 0.5px solid #e8e8e8;
  border-radius: 4px;
}
div.container div.content > form > section > div.box > div.footer div.manager {
  width: 70px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  background-color: #ffb30f;
  text-align: center;
  border-radius: 1px;
  position: absolute;
  top: 8px;
  left: 8px;
}
div.container div.content > form > section > div.box > div.footer div.manager:hover {
  background-color: #eda50a;
}
div.container div.content > form > section > div.box > div.footer div.check {
  position: absolute;
  top: 13px;
  left: 120px;
  width: 500px;
}
div.container div.content > form > section > div.box > div.footer div.check div.all {
  font-size: 12px;
  vertical-align: middle;
  float: left;
}
div.container div.content > form > section > div.box > div.footer div.check div.dele,
div.container div.content > form > section > div.box > div.footer div.check div.infor {
  font-size: 12px;
  float: left;
  margin-left: 20px;
}
div.container div.content > form > section > div.box > div.footer div.check div.infor_none {
  display: none;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 20px;
  float: left;
}
div.container div.content > form > section > div.box > div.footer div.clear {
  float: right;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: #929292;
  border-radius: 2px;
  color: #f5f5f5;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  font-size: 12px;
}
