.succ {
  color: #06ec25;
  opacity: 1 !important;
  font-size: 12px;
}
.fail {
  color: red;
  opacity: 1 !important;
  font-size: 12px;
}
div.container {
  width: 100%;
  background-color: #f5f5f5;
}
div.container div.header {
  width: 100%;
  height: 100px;
}
div.container div.header::before {
  content: "";
  display: table;
}
div.container div.header > a {
  display: block;
  margin-top: 20px;
  margin-left: 200px;
  text-decoration: none;
  color: #222;
}
div.container div.header > a > img {
  display: inline-block;
  margin-top: 0px;
  vertical-align: middle;
}
div.container div.header > a > span {
  display: inline-block;
  margin-left: 30px;
  line-height: 100%;
  font-size: 20px;
}
div.container div.content {
  position: relative;
  width: 100%;
}
div.container div.content div.login-png {
  width: 100%;
  height: 560px;
  background-image: url("../img/register/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
div.container div.content div.login-table {
  width: 280px;
  height: 300px;
  background-color: rgba(2, 2, 2, 0.3);
  position: absolute;
  top: 150px;
  right: 200px;
  border-radius: 2px;
}
div.container div.content div.login-table > p {
  opacity: 1;
  width: 240px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}
div.container div.content div.login-table > p > span {
  margin-left: 65px;
}
div.container div.content div.login-table > p > span > a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}
div.container div.content div.login-table div.user {
  height: 80px;
  width: 240px;
  margin: 15px auto;
  position: relative;
}
div.container div.content div.login-table div.user > input {
  font-size: 14px;
  line-height: 37px;
  width: 240px;
  height: 37px;
}
div.container div.content div.login-table div.user > span {
  vertical-align: middle;
  margin-left: -35px;
}
div.container div.content div.login-table div.user > div {
  position: absolute;
  opacity: 0;
}
div.container div.content div.login-table div.pwd {
  height: 80px;
  width: 240px;
  margin: 0 auto;
  position: relative;
}
div.container div.content div.login-table div.pwd > input {
  font-size: 14px;
  line-height: 37px;
  width: 240px;
  height: 37px;
}
div.container div.content div.login-table div.pwd > span {
  vertical-align: middle;
  margin-left: -35px;
}
div.container div.content div.login-table div.pwd > div {
  position: absolute;
  opacity: 0;
}
div.container div.content div.login-table div.chose label {
  color: #fff;
  margin-left: 10px;
  font-size: 12px;
}
div.container div.content div.login-table div.chose label > input {
  vertical-align: middle;
}
div.container div.content div.login-table div.chose span {
  margin-left: 120px;
}
div.container div.content div.login-table div.chose span a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
div.container div.content div.login-table > input {
  width: 220px;
  height: 35px;
  background-color: #2065ea;
  border: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-left: 30px;
  border-radius: 2px;
}
div.container div.content div.login-table > div:last-child {
  opacity: 0;
  transition: all 0.5s linear;
  position: absolute;
  top: 108px;
  left: -208px;
  width: 200px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}
